---
import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
import "../styles/about/html-content.css";
import { getAboutContent } from "../lib/cms-client";
import { getDate } from "../lib/day-js";
import { parseHtml } from "../lib/html-parser";
import type { SiteOg } from "../components/Layouts/Meta";
import { CONSTS } from "../../consts";

const about = await getAboutContent();
const age = about.birth_year ? getDate().year() - about.birth_year : null;

const og: SiteOg = {
	description: `about ${CONSTS.SITE_NAME}`,
	type: "article",
	url: "about",
};
---

<Meta title={"About"} og={og}>
	<Header title={"About"} />
	<main class="secondIn">
		<article class="flex flex-col justify-center items-center py-10 h-auto">
			<img
				alt=""
				src={`${about.icon.url}?w=150`}
				class="w-32 h-32 rounded-full mb-4"
			/>
			<section class="max-w-[580px] px-4">
				<h2 class="text-center tracking-wide mb-5 font-bold">
					{about.name}
				</h2>
				{
					age && (
						<p class="text-center mb-10">
							Japanese Software Engineer, and Designer. <br /> {age} years old
							this year.
						</p>
					)
				}
				<div class="text-center">
					<Fragment set:html={parseHtml(about.summery)} />
				</div>
				{
					about.contents.map((c) => (
						<div class="py-4">
							<h3 class="mt-12 mb-6 text-center">{c.title}</h3>
							{c.images && (
								<div class="grid grid-cols-3 md:grid-cols-4 gap-4 mb-4">
									{c.images.map((i, index) => (
										<div
											class={`aspect-square ${index === 3 ? "hidden md:block" : "block"}`}
										>
											<img
												alt=""
												class={`w-full h-full object-cover rounded-lg ${index === 3 ? "hidden md:inline" : "inline"}`}
												src={`${i.url}?w=200`}
											/>
										</div>
									))}
								</div>
							)}
							{c.content && (
								<div class="px-4 md:px-8">
									<Fragment set:html={parseHtml(c.content)} />
								</div>
							)}
						</div>
					))
				}
			</section>
		</article>
	</main>
	<Footer />
</Meta>
